@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.navigator{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
}

.nav-btn{
padding:8px;
border-radius:6px;
border:none;
cursor:pointer;
}

.attempted{
background:#22c55e;
color:white;
}

.not-attempted{
background:#ff0000;
}

.review{
background:#f59e0b;
color:white;
}

.gutter {
  background-color: #d1d5db;
  background-clip: padding-box;
}

.gutter:hover {
  background-color: #9ca3af;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.input {
  @apply bg-white border border-gray-300 px-4 py-2 rounded text-slate-900 w-full dark:bg-slate-800 dark:border-slate-700 dark:text-white;
}

/* 🔥 Smooth modal animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.input-dark {
  @apply w-full p-2.5 rounded-md border border-gray-300 bg-white text-slate-900 outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 dark:border-slate-700 dark:bg-slate-900 dark:text-white;
}