# Frontend / Node
node_modules/
dist/
build/
.npm
npm-debug.log*

# Backend / Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.pytest_cache/

# Secrets / Environment
.env
.env.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
