fastapi
uvicorn
pymongo
pydantic
python-dotenv
bcrypt
python-jose
python-multipart
google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PyMuPDF
numpy
resend
APScheduler
pandas
openpyxl
requests
